---
import Container from '@components/container.astro'
import PageTitle from '@components/page-title.astro'
import PostList from '@components/post-list.astro'
import type { Category } from '@data/category'
import { categories } from '@data/category'
import Layout from '@layouts/Layout.astro'
import { latestPosts } from '@utils/content'

export function getStaticPaths() {
  const map = {}

  categories.forEach((category: Category) => {
    map[category.slug] = latestPosts?.filter(
      (post) => post?.data?.category === category?.slug,
    )
  })

  return categories?.map((category) => ({
    params: {
      category: category?.slug,
    },
    props: {
      posts: map[category?.slug],
      category: category,
    },
  }))
}

const { category, posts } = Astro.props
---

<Layout title="Category">
  <Container>
    <PageTitle>
      <Fragment slot="title">
        All posts for {category.title}
      </Fragment>
      <Fragment slot="desc">
        See all posts we have ever written for {category.title}
      </Fragment>
    </PageTitle>
    <main>
      <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-2">
        {posts.map((post) => <PostList post={post} aspect="square" />)}
      </div>
    </main>
  </Container>
</Layout>
