---
import Container from '@components/container.astro'
import Pagetitle from '@components/page-title.astro'
import Pagination from '@components/pagination.astro'
import PostList from '@components/post-list.astro'
import Layout from '@layouts/Layout.astro'
import { latestPosts } from '@utils/content'

export async function getStaticPaths({ paginate }) {
  return paginate(latestPosts, {
    pageSize: 9,
  })
}

const { page } = Astro.props
---

<Layout title="Blog">
  <Container>
    <Pagetitle>
      <Fragment slot="title">Blog Posts</Fragment>
      <Fragment slot="desc">
        Dive into articles that blend technology insights with personal
        experiences in the tech world.
      </Fragment>
    </Pagetitle>
    <main>
      <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-2">
        {page.data.map((post) => <PostList post={post} aspect="landscape" />)}
      </div>
    </main>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </Container>
</Layout>
