---
import Container from '@components/container.astro'
import PageTitle from '@components/page-title.astro'
import PostList from '@components/post-list.astro'
import type { Author } from '@data/authors'
import { authors } from '@data/authors'
import Layout from '@layouts/Layout.astro'
import { latestPosts } from '@utils/content'

export function getStaticPaths() {
  const map = {}

  authors.forEach((author: Author) => {
    map[author.slug] = latestPosts?.filter(
      (post) => post?.data?.author === author?.slug,
    )
  })

  return authors?.map((author) => ({
    params: {
      author: author?.slug,
    },
    props: {
      posts: map[author?.slug],
      author: author,
    },
  }))
}

const { author, posts } = Astro.props
---

<Layout title="Category">
  <Container>
    <PageTitle>
      <Fragment slot="title">
        All posts by {author.name}
      </Fragment>
      <Fragment slot="desc">
        See all posts that were written by {author.name}.
      </Fragment>
    </PageTitle>
    <main>
      <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-2">
        {posts.map((post) => <PostList post={post} aspect="square" />)}
      </div>
    </main>
  </Container>
</Layout>
