---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Pagetitle from "@components/pagetitle.astro";
import Link from "@components/ui/link.astro";
---

<Layout title="About">
  <Container>
    <Pagetitle>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">Let me introduce myself</Fragment>
    </Pagetitle>

    <div
      class="flex flex-col items-center justify-between gap-10 lg:flex-row mx-auto max-w-4xl mt-12">
      <div class="object-cover aspect-square">
        <img
          src="/images/jeremy.png"
          width={300}
          height={300}
          alt="Jeremy's profile picture"
          class="object-cover rounded-full transition hover:-translate-y-1 hover:shadow-xl"
        />
      </div>

      <div class="max-w-lg">
        <p class="mb-5 text-lg text-gray-500 dark:text-gray-400 md:px-10 lg:px-0">
          My name is Jeremy London 👋, based in the vibrant city of Denver 🏔️, where I merge my deep-seated passion for AI and machine learning with practical experiences from <strong><a href="https://lockheedmartin.com">Lockheed Martin</a></strong> to innovative startups like <strong><a href="https://vody.com">Vody</a></strong>. Specializing in multimodal systems and Large Language Models, I thrive on pushing the boundaries of technology to explore new solutions. When I'm not immersed in the digital world, you'll find me experimenting in the kitchen, strumming my guitar, or carving down snowy slopes.
        </p>
      
        <p class="mb-5 text-lg text-gray-500 dark:text-gray-400 md:px-10 lg:px-0">
          Excitingly, I've recently taken on the role of Director of Engineering, AI &amp; Threat Analytics at <strong><a href="https://keepersecurity.com">Keeper Security</a></strong>, where I'm eager to leverage my skills in AI and cybersecurity. This new position is a testament to my commitment to ethical AI and my relentless pursuit of creating impactful, innovative solutions.
        </p>
      
        <p class="mb-5 text-lg text-gray-500 dark:text-gray-400 md:px-10 lg:px-0">
          At <strong>Keeper Security</strong>, I'm steering the ship towards advanced threat analytics by implementing User Behavior Analytics and User Entity Behavior Analytics. These initiatives are crucial for enhancing our security posture, enabling proactive threat detection, and ensuring the safety of digital ecosystems. My role involves leveraging the power of AI to develop innovative solutions that address the evolving threat landscape and DevSecOps, all while ensuring the ethical use of AI and machine learning.
        </p>
      
        <p class="text-lg text-gray-500 dark:text-gray-400 md:px-10 lg:px-0">
          Besides that, by creating this blog, I'm going to share all of my experiences that would be helpful to you. I'm always open to collaborating on projects that push the envelope in AI and cybersecurity. Let's explore how we can make the digital world a safer place together.
        </p>
      
        
      </div>
    </div>

    <div class="mx-auto max-w-xl text-center mt-14">
      <p class="text-lg leading-relaxed text-gray-600">
        Need assistance or collaboration? Reach out and get in touch! Together,
        we can achieve greatness.
      </p>
      <div class="mt-8">
        <Link href="/contact" style="primary">Get in touch</Link>
      </div>
    </div>
  </Container>
</Layout>
