---
import { Image } from "astro:assets"

const { author } = Astro.props
---

<div
  class="mt-8 border-t border-gray-200 pt-5 text-gray-600 dark:border-gray-800 dark:text-gray-300">
  <div class="flex flex-wrap items-start gap-3 sm:flex-nowrap sm:gap-6">
    <div class="relative shrink-0 w-24 h-24 mt-1">
      {
        author.image && (
          <Image
            src={author.image}
            alt={author.name}
            width={96}
            height={96}
            loading="lazy"
            decoding="async"
            class="rounded-full"
            format="avif"
          />
        )
      }
    </div>
    <div>
      <div>
        <p class="text-lg font-medium text-gray-800 dark:text-gray-300">
          About {author.name}
        </p>
      </div>
      <div class="mt-3">
        {author.bio && <p>{author.bio}</p>}
      </div>
    </div>
  </div>
</div>
