---
const { class: className } = Astro.props
---

<div
  class:list={[
    "mx-auto w-full max-w-[min(100vw-2rem,100rem)] px-4 py-4 sm:px-6 lg:px-8 xl:px-10 2xl:px-12",
    className,
  ]}>
  <slot />
</div>
