---
import { Icon } from "astro-icon/components";
import Container from "./container.astro";
import Themeswitch from "./themeswitch.astro";
---

<Container class="mt-10 border-t border-gray-100 dark:border-gray-800">
  <footer class="flex flex-col items-center">
    <div class="text-sm text-center">
      Copyright © {new Date().getFullYear()}
      <a
        class="font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 dark:hover:text-orange-500"
        href="https://github.com/jeremy-london">Jeremy London.</a
      > All rights reserved.
    </div>

    <div class="flex items-center justify-between mt-2">
      <Themeswitch />
    </div>

    <div
      class="flex flex-col gap-2 text-sm items-center justify-center text-center mt-2">
      <a
        class="text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-red-500 dark:hover:text-red-500"
        href="https://www.youtube.com/watch?v=Bz2-49q6DOI"
        data-umami-event="made-with-love">
        Made with Love from Denver ♥️
      </a>

      <a
        class="flex flex-row items-center gap-1 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500 hover:dark:text-orange-500"
        href="/rss.xml"
        data-umami-event="subscribe-to-rss-footer">
        Subscribe to RSS
        <Icon
          title=`Subscribe to RSS`
          class=`w-4 h-4`
          name=`heroicons-outline:rss`
        />
      </a>
    </div>
  </footer>
</Container>
